<h2>Nieuw Toegangstoken Uitgegeven</h2>

<p>Geachte {{companyName}},</p>

<p>Er is een nieuw BVAD-toegangstoken uitgegeven voor uw eindpunt.</p>

<div class="info-box">
  <strong>Tokengegevens:</strong><br>
  Eindpunt: {{endpointName}}<br>
  Tokentype: BVAD<br>
  Uitgiftedatum: {{issuedDate}}<br>
  Verloopt: {{expiresDate}}
</div>

<p><strong>Belangrijk:</strong> Uw token is veilig gegenereerd en is beschikbaar in het ledenportaal. Zorg ervoor dat u het veilig opslaat en niet deelt met onbevoegde partijen.</p>

<a href="{{portalUrl}}" class="button">Token Bekijken in Portaal</a>

<p>Als u dit token niet heeft aangevraagd of zorgen heeft, neem dan onmiddellijk contact met ons op via <a href="mailto:support@ctn.nl">support@ctn.nl</a>.</p>

<p>Met vriendelijke groet,<br>
<strong>Het CTN Team</strong></p>
